// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Leal from "../../../index.js";

export declare namespace LocationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Locations represent the physical addresses of a store. Each store can have
 * multiple locations (e.g. branches, pop-ups).
 *
 * When you create or update a location with an address, the address is
 * automatically geocoded to latitude/longitude coordinates. These coordinates
 * are used for Apple Wallet relevance - customers receive lock-screen
 * notifications when they are near one of your locations.
 *
 * All location endpoints are scoped to a store via the `:account_id` URL
 * parameter. You must have access to the parent store.
 */
export class LocationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LocationsClient.Options>;

    constructor(options: LocationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns every physical location belonging to the specified store.
     *
     * @param {Leal.ListLocationsRequest} request
     * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.locations.list({
     *         account_id: 1
     *     })
     */
    public list(
        request: Leal.ListLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.ListLocationsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Leal.ListLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.ListLocationsResponseItem[]>> {
        const { account_id: accountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/locations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.ListLocationsResponseItem[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{account_id}/locations",
        );
    }

    /**
     * Creates a new physical location for the store. The provided address is
     * automatically geocoded to latitude and longitude coordinates in the background.
     *
     * @param {Leal.CreateLocationsRequest} request
     * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.locations.create({
     *         account_id: 1,
     *         location: {
     *             address: "address",
     *             name: "name"
     *         }
     *     })
     */
    public create(
        request: Leal.CreateLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.CreateLocationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Leal.CreateLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.CreateLocationsResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/locations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.CreateLocationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/accounts/{account_id}/locations",
        );
    }

    /**
     * Returns a single location by ID.
     *
     * @param {Leal.GetLocationsRequest} request
     * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.locations.get({
     *         account_id: 1,
     *         id: 1
     *     })
     */
    public get(
        request: Leal.GetLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.GetLocationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Leal.GetLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.GetLocationsResponse>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/locations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.GetLocationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{account_id}/locations/{id}",
        );
    }

    /**
     * Permanently deletes a location. This action cannot be undone.
     *
     * @param {Leal.DeleteLocationsRequest} request
     * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.locations.delete({
     *         account_id: 1,
     *         id: 1
     *     })
     */
    public delete(
        request: Leal.DeleteLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Leal.DeleteLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/locations/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/accounts/{account_id}/locations/{id}",
        );
    }

    /**
     * Updates an existing location. If the address is changed, it will be re-geocoded automatically.
     *
     * @param {Leal.UpdateLocationsRequest} request
     * @param {LocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.locations.update({
     *         account_id: 1,
     *         id: 1,
     *         location: {}
     *     })
     */
    public update(
        request: Leal.UpdateLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.UpdateLocationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Leal.UpdateLocationsRequest,
        requestOptions?: LocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.UpdateLocationsResponse>> {
        const { account_id: accountId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/locations/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.UpdateLocationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/api/v1/accounts/{account_id}/locations/{id}",
        );
    }
}
