// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Leal from "../../../index.js";

export declare namespace StoresClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * In this API, every Account represents a Store. Stores are the top-level tenant
 * object that owns locations, loyalty cards, customers, and posters.
 *
 * Each authenticated user may belong to one or more stores. Use these endpoints
 * to list the stores you have access to, view store details (including summary
 * counts), and update store settings.
 */
export class StoresClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StoresClient.Options>;

    constructor(options: StoresClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns every store the authenticated user has access to, including summary counts for locations, cards, customers, and posters.
     *
     * @param {StoresClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.stores.list()
     */
    public list(requestOptions?: StoresClient.RequestOptions): core.HttpResponsePromise<Leal.ListStoresResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: StoresClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.ListStoresResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                "api/v1/accounts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.ListStoresResponseItem[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/accounts");
    }

    /**
     * Returns detailed information for a single store, including summary counts for its associated resources.
     *
     * @param {Leal.GetStoresRequest} request
     * @param {StoresClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.stores.get({
     *         id: 1
     *     })
     */
    public get(
        request: Leal.GetStoresRequest,
        requestOptions?: StoresClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.GetStoresResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Leal.GetStoresRequest,
        requestOptions?: StoresClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.GetStoresResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.GetStoresResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/accounts/{id}");
    }

    /**
     * Updates the store's name or store_name. Use `store_name` for the public-facing name displayed to customers.
     *
     * @param {Leal.UpdateStoresRequest} request
     * @param {StoresClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.stores.update({
     *         id: 1,
     *         account: {}
     *     })
     */
    public update(
        request: Leal.UpdateStoresRequest,
        requestOptions?: StoresClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.UpdateStoresResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Leal.UpdateStoresRequest,
        requestOptions?: StoresClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.UpdateStoresResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.UpdateStoresResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/api/v1/accounts/{id}");
    }
}
