// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Leal from "../../../index.js";

export declare namespace CustomerCardsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Customer cards represent a customer's instance of a loyalty card template. They track
 * stamp progress, status, and wallet pass installation. Use these endpoints to view a
 * customer's enrolled loyalty cards and their current progress toward rewards.
 */
export class CustomerCardsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomerCardsClient.Options>;

    constructor(options: CustomerCardsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all loyalty cards enrolled for a specific customer, including stamp progress,
     * status, wallet pass installation state, and wallet pass URLs (`apple_wallet_url` and
     * `google_wallet_url`) that you can use to let customers add their loyalty card to
     * Apple Wallet or Google Wallet from your own app or website.
     *
     * @param {Leal.ListCustomerCardsRequest} request
     * @param {CustomerCardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customerCards.list({
     *         account_id: 1,
     *         customer_id: 1
     *     })
     */
    public list(
        request: Leal.ListCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.ListCustomerCardsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Leal.ListCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.ListCustomerCardsResponseItem[]>> {
        const { account_id: accountId, customer_id: customerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers/${core.url.encodePathParam(customerId)}/customer_cards`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.ListCustomerCardsResponseItem[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{account_id}/customers/{customer_id}/customer_cards",
        );
    }

    /**
     * Returns detailed information about a specific customer card, including stamp progress,
     * a list of rewards the customer has earned enough stamps to redeem, and wallet pass URLs
     * (`apple_wallet_url` and `google_wallet_url`) for adding the card to Apple Wallet or
     * Google Wallet.
     *
     * @param {Leal.GetCustomerCardsRequest} request
     * @param {CustomerCardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customerCards.get({
     *         account_id: 1,
     *         customer_id: 1,
     *         id: 1
     *     })
     */
    public get(
        request: Leal.GetCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.GetCustomerCardsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Leal.GetCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.GetCustomerCardsResponse>> {
        const { account_id: accountId, customer_id: customerId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers/${core.url.encodePathParam(customerId)}/customer_cards/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.GetCustomerCardsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{account_id}/customers/{customer_id}/customer_cards/{id}",
        );
    }

    /**
     * Redeems a reward for a customer, deducting the required stamps from their card.
     * The customer must have enough stamps on this card to cover the reward's cost.
     * Triggers wallet pass updates and push notifications.
     *
     * @param {Leal.RedeemCustomerCardsRequest} request
     * @param {CustomerCardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customerCards.redeem({
     *         account_id: 1,
     *         customer_id: 1,
     *         id: 1,
     *         reward_id: 1
     *     })
     */
    public redeem(
        request: Leal.RedeemCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.RedeemCustomerCardsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__redeem(request, requestOptions));
    }

    private async __redeem(
        request: Leal.RedeemCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.RedeemCustomerCardsResponse>> {
        const { account_id: accountId, customer_id: customerId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers/${core.url.encodePathParam(customerId)}/customer_cards/${core.url.encodePathParam(id)}/redeem`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.RedeemCustomerCardsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/accounts/{account_id}/customers/{customer_id}/customer_cards/{id}/redeem",
        );
    }

    /**
     * Adds stamps to a customer's loyalty card. Triggers ledger entries, wallet pass updates,
     * and push notifications. Pass `skip_notifications` to stamp silently.
     *
     * @param {Leal.StampCustomerCardsRequest} request
     * @param {CustomerCardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customerCards.stamp({
     *         account_id: 1,
     *         customer_id: 1,
     *         id: 1,
     *         stamps: 1
     *     })
     */
    public stamp(
        request: Leal.StampCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.StampCustomerCardsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stamp(request, requestOptions));
    }

    private async __stamp(
        request: Leal.StampCustomerCardsRequest,
        requestOptions?: CustomerCardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.StampCustomerCardsResponse>> {
        const { account_id: accountId, customer_id: customerId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers/${core.url.encodePathParam(customerId)}/customer_cards/${core.url.encodePathParam(id)}/stamp`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.StampCustomerCardsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/accounts/{account_id}/customers/{customer_id}/customer_cards/{id}/stamp",
        );
    }
}
