// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Leal from "../../../index.js";

export declare namespace CustomersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Customers represent the people who visit your store and participate in your loyalty program.
 * Each customer requires a `first_name` and at least one of `email` or `phone`. Both `email`
 * and `phone` are unique within a store. Customers can be enrolled in loyalty cards and have
 * their stamp counts managed through this API.
 *
 * External references and metadata
 *
 * Every customer can carry two kinds of integration-friendly data so you can match them up with
 * records in other systems (Square, Shopify, Mailchimp, your own POS, etc.) without depending on
 * email or phone:
 *
 * `external_references`: a list of `source`/`external_id` pairs. `source` is a free-form
 * lowercase slug that identifies the foreign system (e.g. `square`, `shopify`,
 * `mailchimp`, `hubspot`, or anything custom like `my_pos`). Each
 * `source`/`external_id` pair is unique per store, indexed for fast lookups, and can be used
 * to find or upsert a customer.
 *
 * `metadata`: a free-form JSON object for any other per-customer data you want to attach
 * (preferred drink, segment tags, "last seen at counter", etc.). Not indexed; not unique;
 * merged on update.
 *
 * Use `GET /customers?source=...&external_id=...` to look up a customer by an external
 * reference.
 */
export class CustomersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomersClient.Options>;

    constructor(options: CustomersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of customers for the store. Use the `search` parameter to filter
     * by name, email, phone, card code (barcode), or external reference ID. Alternatively, pass
     * `source` AND `external_id` together to perform an exact lookup by an external reference -
     * the response will contain at most one customer.
     *
     * @param {Leal.ListCustomersRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customers.list({
     *         account_id: 1
     *     })
     */
    public list(
        request: Leal.ListCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.ListCustomersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Leal.ListCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.ListCustomersResponse>> {
        const { account_id: accountId, search, source, external_id: externalId, page, items } = request;
        const _queryParams: Record<string, unknown> = {
            search,
            source,
            external_id: externalId,
            page,
            items,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.ListCustomersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{account_id}/customers",
        );
    }

    /**
     * Creates a new customer for the store. Requires `first_name` and at least one of `email` or `phone`.
     * Optionally enroll the customer in a loyalty card by passing `card_id`, and trigger delivery of
     * card links (email/SMS) by passing `send_card_links`. When a card with initial stamps is assigned,
     * those stamps are automatically applied as a welcome bonus.
     *
     * Pass `metadata` to attach arbitrary key/value data, and `external_references` to link the
     * customer to records in other systems (e.g. Square, Shopify). External references are upserted
     * by `(source, external_id)` so this endpoint is safe to call with the same references twice.
     *
     * @param {Leal.CreateCustomersRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customers.create({
     *         account_id: 1,
     *         customer: {
     *             first_name: "first_name"
     *         }
     *     })
     */
    public create(
        request: Leal.CreateCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.CreateCustomersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Leal.CreateCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.CreateCustomersResponse>> {
        const { account_id: accountId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.CreateCustomersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/accounts/{account_id}/customers",
        );
    }

    /**
     * Returns detailed information about a single customer, including all of their
     * enrolled loyalty cards with stamp progress and wallet pass URLs (`apple_wallet_url`
     * and `google_wallet_url`) for each card. Also includes `metadata` and
     * `external_references` so you can sync state with external systems.
     *
     * @param {Leal.GetCustomersRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customers.get({
     *         account_id: 1,
     *         id: 1
     *     })
     */
    public get(
        request: Leal.GetCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.GetCustomersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Leal.GetCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.GetCustomersResponse>> {
        const { account_id: accountId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.GetCustomersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{account_id}/customers/{id}",
        );
    }

    /**
     * Updates an existing customer's details. To add stamps or redeem rewards, use the
     * customer cards endpoints instead.
     *
     * `metadata` is shallow-merged into the existing metadata. `external_references` are upserted
     * by `(source, external_id)` - to remove a reference, omit it from subsequent calls and use
     * a separate `DELETE` workflow (not yet exposed via API; manage in dashboard for now).
     *
     * @param {Leal.UpdateCustomersRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Leal.UnauthorizedError}
     * @throws {@link Leal.NotFoundError}
     * @throws {@link Leal.GoneError}
     * @throws {@link Leal.UnprocessableEntityError}
     * @throws {@link Leal.TooManyRequestsError}
     * @throws {@link errors.LealError}
     * @throws {@link errors.LealTimeoutError}
     *
     * @example
     *     await client.customers.update({
     *         account_id: 1,
     *         id: 1,
     *         customer: {}
     *     })
     */
    public update(
        request: Leal.UpdateCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<Leal.UpdateCustomersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Leal.UpdateCustomersRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Leal.UpdateCustomersResponse>> {
        const { account_id: accountId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LealEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(accountId)}/customers/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Leal.UpdateCustomersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Leal.UnauthorizedError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 404:
                    throw new Leal.NotFoundError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 410:
                    throw new Leal.GoneError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 422:
                    throw new Leal.UnprocessableEntityError(_response.error.body as Leal.Error_, _response.rawResponse);
                case 429:
                    throw new Leal.TooManyRequestsError(_response.error.body as Leal.Error_, _response.rawResponse);
                default:
                    throw new errors.LealError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/api/v1/accounts/{account_id}/customers/{id}",
        );
    }
}
